$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$title-font: "Big Shoulders", sans-serif;
$text-font: "Outfit", sans-serif;

$orange: #D5966C;
$black: #151515;
$grey: #444444;